*.bsp
*.exe
*.bin
*.gma
*.log
.svn/
DownloadLists/
GameState.txt
addons/
bin/
clientside_errors.txt
data/
fallbacks/
gameinfo.txt
*.fgd
lights.rad
logs/
maps/
materials/
media/
models/
*.cache
particles/
resource/
sound/
stats.txt
steam.inf
*.db
tmp/
